* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Alap fekete háttér */
html,
body {
  background-color: #000;
  min-height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

/* Kezdőlap */
.hero {
  background: url("images/paint14.jpg") no-repeat center center fixed, #404040;
  background-blend-mode: multiply;
  background-size: cover;

  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fafafa;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar li {
  list-style: none;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 100;

  /* Ne lehessen kijelölni */
  user-select: none;
  -webkit-user-select: none;
}

.navbar a {
  color: #fafafa;
  text-decoration: none;
  padding: 0 2rem;
  font-weight: bold;
  display: inline-block;
  transition: ease-in-out 0.2s;
}

.navbar a:hover {
  text-shadow: 0 0 20px rgb(255, 255, 255);
}

.mobileview {
  padding: 60px 0;
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  min-width: 25%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  z-index: 2;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.mobileview li {
  width: 100%;
  transition: ease-in-out 0.4s;
  padding: 30px 0;
  font-size: 1.2rem;
}

.mobileview li:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

#menu_icon {
  font-size: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  padding: 30px;
  display: none;
  cursor: pointer;
}

#menu_icon:hover {
  color: white;
  text-shadow: 0 0 20px rgb(255, 255, 255);
}

.navbar button {
  color: #fafafa;
  border: 1px solid #fafafa;
  background: transparent;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

#email_icon {
  width: 20px;
  height: 20px;
  margin: auto 8px;
  display: inline-block;
}

.navbar button:hover {
  color: #1b1b1b;
  background-color: #6e695c;
  border: 1px solid #4d4737;
  box-shadow: 0 0 20px #4d4737;
}

#kor {
  height: 52px;
  clip-path: circle();
  background-color: white;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.2s;
}

#logo {
  height: 50px;
  clip-path: circle();
  transition: ease-in-out 0.2s;

  /* Ne lehessen kijelölni */
  user-select: none;
  -webkit-user-select: none;
}

#logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#tekerj {
  position: absolute;
  bottom: 0px;
  right: 25%;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  animation: megjelenik 1s ease forwards;
  animation-delay: 6s;

  /* Ne lehessen kijelölni */
  user-select: none;
  -webkit-user-select: none;
}

.hi::before {
  content: "Szabó Péter";
  font-size: 2rem;
  animation: gepel 6s;
}
.hi::after {
  content: "";
  width: calc(100% + 8px);
  animation: cursor 0.8s 8;
}

#kapcsolat_icon {
  font-size: 1rem;
  margin-left: 4px;
  display: inline-block;
  vertical-align: middle;
}

/* Programozási nyelvek */
.nyelvek {
  height: 20vh;
  background-color: #fafafa;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}
.nyelvek::before {
  content: "";
  position: absolute;
  width: 25vh;
  height: 20vh;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(39, 39, 39, 0.7),
    rgba(126, 126, 126, 0.5),
    rgba(196, 196, 196, 0.2),
    rgba(250, 250, 250, 0)
  );
  z-index: 2;
}
.nyelvek::after {
  content: "";
  position: absolute;
  right: 0;
  width: 25vh;
  height: 20vh;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 1),
    rgba(39, 39, 39, 0.7),
    rgba(126, 126, 126, 0.5),
    rgba(196, 196, 196, 0.2),
    rgba(250, 250, 250, 0)
  );
  z-index: 2;
}
.slide {
  display: inline-block;
  animation: 15s slide linear infinite;
}
.slide:hover {
  animation-play-state: paused;
}
.slide img {
  margin: 0 100px;
  width: 7vh;

  /* Ne lehessen kijelölni */
  user-select: none;
  -webkit-user-select: none;
}

/* Telefon nézet */
@media (max-width: 768px) {
  .hero {
    background-size: auto 100%;
  }

  .slide img {
    margin: 0 25px;
  }
  .nyelvek::before {
    width: 15vh;
  }
  .nyelvek::after {
    width: 15vh;
  }
}

@media (max-width: 1120px) {
  .navbar a,
  .navbar button {
    display: none;
  }
  .mobileview a {
    display: block;
  }
  #menu_icon {
    display: block;
  }
}

.utana {
  background: url("images/paint4.jpg") no-repeat center center fixed, #3f3f3f;
  background-blend-mode: multiply;
  background-size: cover;

  height: 150vh;
}

/* Animációk */
@keyframes megjelenik {
  0% {
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes cursor {
  to {
    border-left: 1px solid #fafafa;
  }
}
@keyframes gepel {
  1% {
    width: 0;
    content: "";
  }
  2% {
    width: calc(100% + 1px);
    content: "Ü";
  }
  3% {
    width: calc(100% + 2px);
    content: "Üd";
  }
  4% {
    width: calc(100% + 3px);
    content: "Üdv";
  }
  5% {
    width: calc(100% + 4px);
    content: "Üdvö";
  }
  6% {
    width: calc(100% + 5px);
    content: "Üdvöz";
  }
  7% {
    width: calc(100% + 6px);
    content: "Üdvözö";
  }
  8% {
    width: calc(100% + 7px);
    content: "Üdvözöl";
  }
  9% {
    width: calc(100% + 8px);
    content: "Üdvözöll";
  }
  10% {
    width: calc(100% + 9px);
    content: "Üdvözölle";
  }
  11% {
    width: calc(100% + 10px);
    content: "Üdvözöllek";
  }
  30% {
    width: calc(100% + 10px);
    content: "Üdvözöllek";
  }
  31% {
    width: calc(100% + 9px);
    content: "Üdvözölle";
  }
  32% {
    width: calc(100% + 8px);
    content: "Üdvözöll";
  }
  33% {
    width: calc(100% + 7px);
    content: "Üdvözöl";
  }
  34% {
    width: calc(100% + 6px);
    content: "Üdvözö";
  }
  35% {
    width: calc(100% + 5px);
    content: "Üdvöz";
  }
  36% {
    width: calc(100% + 4px);
    content: "Üdvö";
  }
  37% {
    width: calc(100% + 3px);
    content: "Üdv";
  }
  38% {
    width: calc(100% + 2px);
    content: "Üd";
  }
  39% {
    width: calc(100% + 1px);
    content: "Ü";
  }
  40% {
    width: 0;
    content: "";
  }
  41% {
    width: calc(100% + 1px);
    content: "A";
  }
  42% {
    width: calc(100% + 2px);
    content: "Az";
  }
  43% {
    width: calc(100% + 3px);
    content: "Az ";
  }
  44% {
    width: calc(100% + 4px);
    content: "Az é";
  }
  45% {
    width: calc(100% + 5px);
    content: "Az én";
  }
  46% {
    width: calc(100% + 6px);
    content: "Az én n";
  }
  47% {
    width: calc(100% + 7px);
    content: "Az én ne";
  }
  48% {
    width: calc(100% + 8px);
    content: "Az én nev";
  }
  49% {
    width: calc(100% + 9px);
    content: "Az én neve";
  }
  50% {
    width: calc(100% + 10px);
    content: "Az én nevem";
  }
  69% {
    width: calc(100% + 10px);
    content: "Az én nevem";
  }
  70% {
    width: calc(100% + 9px);
    content: "Az én neve";
  }
  71% {
    width: calc(100% + 8px);
    content: "Az én nev";
  }
  72% {
    width: calc(100% + 7px);
    content: "Az én ne";
  }
  73% {
    width: calc(100% + 6px);
    content: "Az én n";
  }
  74% {
    width: calc(100% + 5px);
    content: "Az én ";
  }
  75% {
    width: calc(100% + 4px);
    content: "Az é";
  }
  76% {
    width: calc(100% + 3px);
    content: "Az ";
  }
  77% {
    width: calc(100% + 2px);
    content: "Az";
  }
  78% {
    width: calc(100% + 1px);
    content: "A";
  }
  79% {
    width: 0;
    content: "";
  }
  80% {
    width: calc(100% + 1px);
    content: "S";
  }
  82% {
    width: calc(100% + 2px);
    content: "Sz";
  }
  84% {
    width: calc(100% + 3px);
    content: "Sza";
  }
  86% {
    width: calc(100% + 4px);
    content: "Szab";
  }
  88% {
    width: calc(100% + 5px);
    content: "Szabó";
  }
  90% {
    width: calc(100% + 6px);
    content: "Szabó ";
  }
  92% {
    width: calc(100% + 7px);
    content: "Szabó P";
  }
  94% {
    width: calc(100% + 8px);
    content: "Szabó Pé";
  }
  96% {
    width: calc(100% + 9px);
    content: "Szabó Pét";
  }
  98% {
    width: calc(100% + 10px);
    content: "Szabó Péte";
  }
  100% {
    width: calc(100% + 11px);
    content: "Szabó Péter";
  }
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
